
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Costa Hermosa</title>
    <link rel="stylesheet" href="~/CSS/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    var texto='@ViewBag.Message';
        if (texto) {
            var icono;
            if (texto == "Se envio un código a su correo") {
                icono = "success"

            } else {
                icono = "error"
            }
            Swal.fire({
                title: texto,
                text: "Click para continuar",
                icon: icono
            });
        }
    </script>
    <form class="form1" action="~/Home/DobleFact" method="post" enctype="multipart/form-data">
        <a href="~/Home/index"><span class="close">X</span></a>

        <div class="info">
            <span class="title">Verificacion</span>
            <p class="description">Ingresa el codigo de verificacion</p>
        </div>
        <div class="input-fields">
            <input name="1" id="1" maxlength="1" type="tel" placeholder="" required>
            <input name="2" id="2" maxlength="1" type="tel" placeholder="" required>
            <input name="3" id="3" maxlength="1" type="tel" placeholder="" required>
            <input name="4" id="4" maxlength="1" type="tel" placeholder="" required>
            <input name="5" id="5" maxlength="1" type="tel" placeholder="" required>
        </div>

        <div class="action-btns">
            <button class="Dorado">Verificar</button>
        </div>

    </form>

    <script src="~/JS/login.js"></script>
</body>
</html>
