
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Dreams</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/CSS/style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
     var texto = '@ViewBag.Message';
     var icono= '@ViewBag.icono';
      if (texto) {
          Swal.fire({
              title: texto,
              text: "Click para continuar",
              icon: icono,
              //confirmButtonColor: '#3085d6',  // Color del botón de confirmación
              //cancelButtonColor: '#d33',      // Color del botón de cancelación (si es aplicable)
              //confirmButtonText: 'Aceptar',   // Texto del botón de confirmación
              customClass: {
                  confirmButton: 'Dorado'
              }
          });
      }
    </script>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg" style="background-color: #000000;">
        <img class="LOGO" src="~/IMG/logo.jpeg" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="position: static;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="neon-effect Dorado" href="~/Home/Menu"><img width="50" src="~/IMG/Home.png"></a>
                </li>
                <li class="nav-item">
                    <a class="neon-effect Dorado " href="~/Home/Nosotros"><img width="50" src="~/IMG/Empresa.png"></a>
                </li>
                <li class="nav-item">
                    <a class="neon-effect Dorado" href="servicios.html"><img width="50" src="~/IMG/sERVICIOS.png"></a>
                    <ul class="inactive"><li><a href="~/Home/SpaCli"><img width="30" src="~/IMG/iconospa.png"></a></li> <li><a href="~/Home/EsteticaCli"><img width="30" src="~/IMG/Iconoestetica.png"></a></li><li><a href="~/Home/ManPedCli"><img width="30" src="~/IMG/Manicurea.png"></a></li><li><a href="~/Home/ActividadesCli"><img width="30" src="~/IMG/festejo.png"></a></li></ul>
                </li>
                <li class="nav-item">
                    <a class="neon-effect Dorado" href="~/Home/Reservas"><img width="50" src="~/IMG/Reservas.png"></a>
                    <ul class="inactive"><li><a href="~/Home/ReservasServicios"><img width="30" src="~/IMG/Servicios (2).png"></a></li> <li><a href="~/Home/ReservasPromos"><img width="30" src="~/IMG/Promos.png"></a></li><li><a href="~/Home/ReservasActividades"><img width="30" src="~/IMG/festejo.png"></a></li></ul>
                </li>
                <li class="nav-item">
                    <a class="neon-effect Dorado " href="~/Home/Contactenos"><img width="50" src="~/IMG/contacto.png"></a>
                </li>
            </ul>
        </div>
        <div>
            <a href="#" class="btn btn-carrito"><img src="~/IMG/NOTIFI.png" alt=""></a>
            <a href="#" class="btn btn-carrito"><img src="~/IMG/VIP (2).png" alt=""></a>
        </div>
    </nav>

    <!-- Encabezado -->
    <div class="jumbotron  text-center height=10px ">
        <h1 class="display-4 " style="font-style: 'Lobster', cursive; ">Bienvenido a Luxury Dreams</h1>
        <p class="lead DoradoL" style="font-size: 22px;">Un lugar para relajarte y llenarte de vida y salud.</p>
        <hr class="my-4">
    </div>

    <div>
        <img src="~/IMA/spa2.jpg" alt="">
        <!-- FORM -->
        <form class="Contactenos" method="post" action="~/Home/ReservasServicios">
            <div class="container mt-5 transparente " style=" width: 50%; background-color: rgba(141, 138, 116, 0.5); color: rgb(209, 187, 127);">
                <h2 class="text-center mb-4">Reserva de Servicios</h2>

                <div class="mb-3">
                    <label for="Identificacion" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" id="Identificacion" name="Identificacion" placeholder="301230567" required>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Ingresa tu nombre" required>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Fecha Nacimiento</label>
                    <input type="date" class="form-control" id="FechaNa" name="FechaNa" placeholder="05/12/1999" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="Correo" name="Correo" placeholder="nombre@ejemplo.com" required>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Número de teléfono</label>
                    <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="85678900" required>
                </div>

                <div class="mb-3">
                    <label for="mensaje" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="Contrasena" name="Contrasena" rows="4" placeholder="Escribe tu contraseña" required>
                </div>
                <br />
                <br />
                <br />
                <div style="display:flex">
                    <button type="submit" class="Dorado" name="Registrar" value="Registrar">Registrar</button>
                    <button type="submit" class="Dorado" name="Modificar" value="Modificar">Modificar</button>
                    <button type="submit" class="Dorado" name="Eliminar" value="Eliminar">Eliminar</button>
                    <button type="submit" class="Dorado" name="Buscar" value="Buscar">Buscar</button>
                </div>
            </div>
            <div class="Tabla">
                <table>
                </table>
            </div>

        </form>
    </div>

    <!-- Footer -->
    <footer class="text-center mt-4 Dorado">
        <p style="padding-bottom: 0%;">&copy; 2024 Luxury Dreams. Desarrollado por Jazmin Masis V. Todos los derechos reservados.</p>
    </footer>

    <!-- Enlace a Bootstrap JS y dependencias de JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

